.infinity.drop-down * {
  box-sizing: border-box;
  font-family: sans-serif;
}
.infinity.drop-down {
  border-radius: 4px;
  box-shadow: 0 0 2px grey;
  position: relative;
  padding: 10px;
  outline: none;
}
.infinity.drop-down.active {
  border-radius: 4px 4px 0 0;
}

.infinity.drop-down .menu {
  left: 0;
  top: 100%;
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 2px 0px #b0b0b0;
  overflow: hidden;
}
.infinity.drop-down.active .menu {
  display: flex;
}

.infinity.drop-down .content {
  max-height: 200px;
  overflow: auto;
}
.infinity.drop-down .content .item {
  padding: 4px;
  background: white;
  font-weight: normal;
  cursor: pointer;
}
.infinity.drop-down .content .item:hover {
  background: rgb(0, 135, 177);
  color: white;
}
.infinity.drop-down .content .sub {
  padding: 5px;
  font-weight: bold;
  font-size: 1.2em;
}
.infinity.drop-down .content .sub:after {
  content: " ";
  height: 1px;
  background: rgb(185, 185, 185);
  display: block;
}

.infinity.drop-down .menu input {
  margin: 5px;
  padding: 6px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgb(190, 190, 190);
}

.infinity.drop-down .trigger {
  position: relative;
  z-index: 1;
}

.infinity.drop-down .placeholder {
  color: grey;
}
.infinity.drop-down .placeholder, .infinity.drop-down .value{
  overflow: hidden;
}